<section class="relative bg-light-blue w-screen ">
    <div class="mx-auto container px-5  text-content py-10 lg:pt-20 lg:pb-32 lg:px-0">
        <h2 class="text-left md:text-center font-heading font-bold text-2xl xl:text-5xl xl:leading-[52px]">GapoWork Customers</h2>
        <div class="grid grid-cols-3 mt-6 md:grid-cols-4 md:mt-8 lg:mt-14 lg:grid-cols-5 lg:px-2 lg:border lg:border-[#0000000F] lg:rounded-3xl ">
            <figure class="flex items-center justify-center"><img src="/images/content-6/lpbank.png" alt="LPBANK" class="w-[100px] h-[31px] md:w-40 md:h-[49px]" width="321" height="99"/></figure>
            <figure><img src="/images/content-6/bidv.png" alt="BIDV" class="xl:w-[255px] xl:h-[148px]" width="512" height="296"/></figure>
            <figure><img src="/images/content-6/momo.png" alt="MOMO" class="xl:w-[255px] xl:h-[148px]" width="512" height="296"/></figure>
            <figure class="hidden xl:block"><img src="/images/content-6/f88.png" alt="F88" class="xl:w-[255px] xl:h-[148px]" width="511" height="296"/></figure>
            <figure class="hidden xl:flex xl:items-center xl:justify-center"><img src="/images/content-6/yody.png" alt="YODY" class="md:w-[140px] md:h-[79px]" width="281" height="159"/></figure>
            <figure><img src="/images/content-6/30shine.png" alt="30SHINE" class="xl:w-[255px] xl:h-[148px]" width="511" height="296"/></figure>
            <figure><img src="/images/content-6/edufit.png" alt="EDUFIT" class="xl:w-[255px] xl:h-[148px]" width="512" height="296"/></figure>
            <figure><img src="/images/content-6/digiworld.png" alt="DIGIWORLD" class="xl:w-[255px] xl:h-[148px]" width="512" height="296"/></figure>
            <figure><img src="/images/content-6/g-group.png" alt="G-GROUP" class="xl:w-[255px] xl:h-[148px]" width="511" height="296"/></figure>
            <figure><img src="/images/content-6/beatvn.png" alt="BEATVN" class="xl:w-[255px] xl:h-[148px]" width="512" height="296"/></figure>
            <figure><img src="/images/content-6/diem-nhan-group.png" alt="Điểm nhấn group" class="xl:w-[255px] xl:h-[148px]" width="511" height="296"/></figure>
            <figure><img src="/images/content-6/thai-binh-seed.png" alt="Thai Binh Seed" class="xl:w-[255px] xl:h-auto" width="229" height="101"/></figure>
            <figure><img src="/images/content-6/vnenconomy.png" alt="VNENCONOMY" class="xl:w-[255px] xl:h-[148px]" width="512" height="296"/></figure>
            <figure><img src="/images/content-6/dms.png" alt="DMS" class="xl:w-[255px] xl:h-[148px]" width="511" height="296"/></figure>
            <figure class="flex items-center justify-center col-start-2 md:col-start-auto"><img width="205" height="208" src="/images/content-6/gov.png" alt="Bộ thông tin và truyền thông" class="w-[51px] h-12 md:w-[102px] md:h-[104px] "/></figure>
        </div>
    </div>
    <figure><img src="/images/content-6/image-1.png" alt="Gapo Work"
                 class="hidden xl:block xl:absolute xl:left-6 xl:-top-16 xl:w-[349px] xl:[171px]" width="698" height="343"/></figure>
</section>

