<section class="relative bg-dark-blue py-10 lg:pt-20 xl:rounded-t-[64px] xl:pt-40 lg:pb-6">
    <div class="mx-auto container px-4 lg:px-8 text-white grid xl:px-0 lg:grid-cols-12 md:gap-[30px]">
        <h2 class="font-heading text-2xl md:text-3xl xl:text-[40px] xl:leading-[64px] lg:col-span-6 xl:col-span-7">Close the distance,<br/> broaden the horizon with GapoWork</h2>

        <div class="sm:order-3 lg:order-none lg:col-span-6 xl:col-span-5 md:row-span-2 md:place-self-center">
            <img src="/images/footer-image.png" class="mt-6  w-full h-auto xl:w-[390px] lg:mt-0 xl:h-[234px] " alt="Gapo Work"/>
            <div class="flex justify-center gap-4 mt-7">
                <a href="https://play.google.com/store/apps/details?id=work.vn.gapo.app&amp;hl=en&amp;gl=US">
                    <img src="/images/playstore.svg" class="xl:w-[186px] xl:h-[55px]" alt="Play Store"/>
                </a>
                <a href="https://apps.apple.com/vn/app/gapowork/id1554231876">
                    <img src="/images/appstore.svg" class="xl:w-[186px] xl:h-[55px]" alt="App Store"/>
                </a>
            </div>
        </div>
        <div class="flex flex-col mt-6 gap-6 sm:flex-row md:mt-0 lg:col-span-6 xl:col-span-7 md:items-center lg:gap-10">
            <div class="flex gap-6 items-center">
                <img src="/images/sao-khue.png" class="w-11 h-[128px]" alt="Sao Khue Award"/>
                <div class="flex flex-col gap-3 ">
                    <p class="font-semibold lg:text-lg ">Sao Khue Award 2022</p>
                    <p class="font-medium opacity-60">Vietnam ICT Excellence</p>
                </div>
            </div>
            <div class="flex gap-6 items-center">
                <img src="/images/vietnam-digital.png" class="w-11 h-[128px]" alt="Vietnam Digital"/>
                <div class="flex flex-col gap-3 font-google-font">
                    <p class="font-bold lg:text-lg">Vietnam Digital Award</p>
                    <p class="opacity-60">Innovative Digital Solution</p>
                </div>
            </div>
        </div>
        <p class="mt-10 sm:order-last lg:order-none lg:col-span-12 text-left sm:text-center text-[15px] leading-5 opacity-80 lg:mt-28">© 2024. Gapo Technology Corporation.</p>
    </div>
</section>