<div
        id="modal-form"
        data-modal-target
        class="hidden">
    <div class="flex items-center justify-center fixed inset-0 z-50">
        <div
                data-modal-close
                data-modal-overlay
                tabindex="-1"
                data-class-out="opacity-0"
                data-class-in="opacity-50"
                class="opacity-0 fixed inset-0 w-full z-40 transition-opacity duration-300 bg-black select-none"></div>
        <div
                data-modal-wrapper
                data-class-out="opacity-0 translate-y-5"
                data-class-in="opacity-100 translate-y-0"
                class="h-full lg:h-auto opacity-0 translate-y-5 w-full z-50 lg:max-w-[1000px] max-h-screen scrolling-touch transition-all duration-300 bg-white flex flex-col transform shadow-xl rounded-md xl:m-5">
            <div class="w-full lg:flex relative mx-auto bg-white lg:bg-dark-blue ">
                <button
                        data-modal-close
                        aria-label="Close"
                        class="absolute top-4 right-4 p-1 opacity-20 hover:opacity-70 hover:rounded-full hover:bg-light-gray ease-out duration-300">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M19.7071 4.29289C20.0976 4.68342 20.0976 5.31658 19.7071 5.70711L5.70711 19.7071C5.31658 20.0976 4.68342 20.0976 4.29289 19.7071C3.90237 19.3166 3.90237 18.6834 4.29289 18.2929L18.2929 4.29289C18.6834 3.90237 19.3166 3.90237 19.7071 4.29289Z"
                              fill="#18202A"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M4.29289 4.29289C4.68342 3.90237 5.31658 3.90237 5.70711 4.29289L19.7071 18.2929C20.0976 18.6834 20.0976 19.3166 19.7071 19.7071C19.3166 20.0976 18.6834 20.0976 18.2929 19.7071L4.29289 5.70711C3.90237 5.31658 3.90237 4.68342 4.29289 4.29289Z"
                              fill="#18202A"/>
                    </svg>
                </button>
                <div class="hidden lg:flex lg:flex-col lg:gap-6 lg:w-[560px] lg:h-full lg:p-6 text-white">
                    <div>
                        <h3 class="font-heading text-[32px] leading-10">The Best Alternative to Workplace</h3>
                        <p class="text-content mt-4">Includes data migration and deployment at no extra cost to support customers.</p>

                    </div>
                    <img src="/images/background/bg-modal.png" alt="Gapo Work" class="w-full h-auto rounded-xl">
                </div>
                <div class="pt-20 xl:pt-10 pb-12 px-6 bg-white lg:flex-1">
                    <p class="text-2xl leading-6 font-bold lg:text-lg lg:font-medium text-[#151917]">Enter Registration Information</p>
                    <form class="grid grid-cols-2 gap-4 mt-6 text-form-black text-form font-semibold">
                        <label class="col-span-2 flex flex-col gap-1">
                            <p>Full Name <span class="text-form-red">*</span></p>
                            <input id="nameInput" class="input-form" type="text"/>
                            <span id="errorName" class="text-red font-normal text-xs"></span>
                        </label>
                        <label class="col-span-2 flex flex-col gap-1">
                            <p>Email <span class="text-form-red">*</span></p>
                            <input id="emailInput" class="input-form" type="text"/>
                            <span id="errorEmail" class="text-red font-normal text-xs"></span>
                        </label>
                        <label class="flex flex-col gap-1">
                            <p>Phone Number <span class="text-form-red">*</span></p>
                            <input id="phoneInput" class="input-form" type="text"/>
                            <span id="errorPhone" class="text-red font-normal text-xs"></span>
                        </label>
                        <label class="flex flex-col gap-1">
                            <p>Job Title <span class="text-form-red">*</span></p>
                            <select id="titleInput" name="title" class="input-form">
                                <option value=""></option>
                                <option value="CEO/Founder/Chủ tịch">CEO/Founder/Chủ tịch</option>
                                <option value="Giám đốc (CTO, CFO,...)">Giám đốc (CTO, CFO,...)</option>
                                <option value="Giám đốc/ Trưởng phòng nhân sự">Giám đốc/ Trưởng phòng nhân sự</option>
                                <option value="Nhân viên (Staff)">Nhân viên</option>
                                <option value="Vị trí khác (Other)">Vị trí khác</option>
                            </select>
                            <span id="errorTitle" class="text-red font-normal text-xs"></span>
                        </label>
                        <label class="flex flex-col gap-1">
                            <p>Company <span class="text-form-red">*</span></p>
                            <input id="companyInput" class="input-form" type="text"/>
                            <span id="errorCompany" class="text-red font-normal text-xs"></span>
                        </label>
                        <label class="flex flex-col gap-1">
                            <p>Scale </p>
                            <select id="scaleInput" name="scaleInput" class="input-form">
                                <option value=""></option>
                                <option value="Dưới 50">Dưới 50</option>
                                <option value="100 - 300">100 - 300</option>
                                <option value="300 - 500">300 - 500</option>
                                <option value="500 - 1000">500 - 1000</option>
                                <option value="trên 1000">Trên 1000</option>
                            </select>
                        </label>
                        <button id="submitBtn" type="button" class="font-heading text-[17px] font-bold leading-7 flex justify-center items-center rounded-lg col-span-2 w-full py-3 bg-primary text-white mt-2 hover:bg-dark-primary">
                            <span id="isLoading" class="hidden border-white h-6 w-6 animate-spin rounded-full border-4 border-t-primary" ></span>
                            <span id="content-submit">Submit Information</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>