@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Inter", system-ui, sans-serif;
    }
}

@layer components {
    .page-heading {
        @apply font-heading text-black text-2xl font-bold -tracking-[.03em] md:text-4xl xl:text-5xl xl:leading-normal
    }
    .col-1-table {
        @apply flex lg:flex-col xl:flex-row gap-4 font-bold
    }
    .row-table {
        @apply grid lg:grid-cols-table-lg xl:grid-cols-table-xl border-b border-[#E9E9EA]
    }
    .button{
        @apply font-bold py-3 w-full rounded-lg bg-primary text-white text-base md:rounded-xl md:w-[239px] md:text-xl lg:leading-10 xl:py-2 hover:bg-dark-primary
    }
    .input-form{
       @apply rounded-xl bg-form-gray border border-form-gray h-12 w-full py-1 px-3 font-medium
    }
}

* {
    box-sizing: border-box;
    margin: 0 0;
}

@font-face {
    font-family: 'Inter';
    src: url('./font/Inter/Inter-Regular.eot'),
    url('./font/Inter/Inter-Regular.woff2') format('woff2'),
    url('./font/Inter/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('./font/Inter/Inter-Medium.eot'),
    url('./font/Inter/Inter-Medium.woff2') format('woff2'),
    url('./font/Inter/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('./font/SF-Pro-Font/SF-Pro-Display-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('./font/Inter/Inter-Medium.eot'),
    url('./font/Inter/Inter-Medium.woff2') format('woff2'),
    url('./font/Inter/Inter-Medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito-San';
    src: url('./font/NunitoSans/NunitoSans-Bold.eot'),
    url('./font/NunitoSans/NunitoSans-Bold.woff2') format('woff2'),
    url('./font/NunitoSans/NunitoSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito-San';
    src: url('./font/NunitoSans/NunitoSans-SemiBold.eot'),
    url('./font/NunitoSans/NunitoSans-SemiBold.woff2') format('woff2'),
    url('./font/NunitoSans/NunitoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Google-Font';
    src: url('./font/OpenFont/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.content-1 {
    background: url("/images/background/bg-content-1.png") no-repeat top;
}

tbody tr:nth-child(2n){
    background-color: white;
}
tbody tr:nth-child(2n+1){
    background-color: #F7F9FF;
}
#modal{
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.modal-hidden {
    display: none;
    transform: translateY(-100%) translateX(-100%) translateY(0);

}
.modal-active {
    display: block;
    opacity: 1;
    transform-origin: center;
}
