<section class="relative bg-dark-blue py-10 lg:rounded-[64px] lg:pt-[72px] lg:pb-[93px]">
    <div class="container w-full mx-auto grid content-center px-5 lg:gap-x-4 lg:grid-cols-12 xl:gap-x-6 xl:px-0">
        <div class="font-content flex flex-col justify-center mt-6 order-2 lg:mt-0 lg:order-1 lg:col-span-6 ">
            <h2 class="page-heading text-white">
                Chuyển đổi từ Workplace sang GapoWork nhanh gọn và thuận tiện
            </h2>
            <div class="flex flex-col mt-6 text-white text-sm gap-3 xl:gap-5 xl:text-base">
                <p>Kèm dịch vụ triển khai bổ sung mà không mất thêm phí để hỗ trợ<br> quá trình chuyển đổi của khách hàng.</p>
                <button type="button"
                        data-modal-trigger
                        aria-controls="modal-form"
                        aria-expanded="false"
                        class="button font-button">
                    Chuyển đổi ngay
                </button>
            </div>
        </div>
        <figure class="relative  md:mt-10 order-1 lg:-translate-x-1/12 lg:col-span-6 lg:order-2">
            <img src="/images/content-4/image-1.png" alt="Gapo Work" class="md:max-w-[680px] lg:max-w-[580px] xl:max-w-[780px] md:object-contain"/>
        </figure>
    </div>
    <img src="/images/content-4/image-2.png" alt="Gapo Work" class="hidden xl:block w-[424px] h-[193px] absolute left-11"/>
    <img src="/images/content-4/image-3.png" alt="Gapo Work" class="hidden xl:block w-[396px] h-[193px] absolute right-11"/>

</section>
